.footer{
    background-color: #495764;
    color: #7a838b;
    font-family: cairo-bold;
    text-align: center;
    font-size: 12px;
    padding: .5em 0;

    .footer-logo{
        margin-bottom: 1em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        width: 100px;
    }
    .link-style{
        color:#343c46;
    }
} 