<nav class="navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item translation" (click)="changeLanguage('ar')">
          <a class="nav-link" href="#">Ar<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item translation" (click)="changeLanguage('en')">
          <a class="nav-link" href="#">En<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" (click)="clickEvent('contact')"  [ngClass]="status == 'contact' ? 'active' : 'in-active'">
          <a class="nav-link" href="#">{{'contact_nav' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" (click)="clickEvent('service')"  [ngClass]="status == 'service' ? 'active' : 'in-active'">
          <a class="nav-link" href="#">{{'services_nav' | translate}}</a>
        </li>
        <li class="nav-item" (click)="clickEvent('about')"  [ngClass]="status == 'about' ? 'active' : 'in-active'">
            <a class="nav-link" href="#">{{'about_nav' | translate}}</a>
          </li>
          <li class="nav-item" (click)="clickEvent('home')"  [ngClass]="status == 'home' ? 'active' : 'in-active'" >
            <a class="nav-link" href="#">{{'home_nav' | translate}}</a>
          </li>
      </ul>
      <div class="logo">
         <img src="assets/images/logo.png">
      </div>
    </div>
  </nav>