<div class="main-content">
        <div class="container-fluid">


            <!-- Services -->
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">الخدمات</h4>
                                <p class="card-category"> قائمه بخدمات الشركة</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                تعديل
                                            </th>
                                            <th>
                                                تفاصيل انجليزي
                                            </th>
                                            <th>
                                                تفاصيل عربي
                                            </th>
                                            <th>
                                                عنوان انجليزي
                                            </th>
                                            <th>
                                                عنوان عربي
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let service of services2;let i = index;">   
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-right" style="background-color: #4a78a0;
                                                    border-color: #4c7b9d;" (click)="update(i)">تعديل</button></td>
                                                <td>{{service.details_En}}</td>
                                                <td>{{service.details_Ar}}</td>
                                                <td>{{service.title_En}}</td>
                                                <td>{{service.title_Ar}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- End services -->



        </div>
      </div>
      <app-dasboard-footer></app-dasboard-footer>
