<section class="portfolio-Parent" style="background-color: #fff">
    <section class="client" [ngStyle]="{'height': aboutHeight}">
            <div class="container">
                <app-navbar></app-navbar>
                <div class="client-details">
                    <h1 class="client-header" style="font-family: cairo-black">{{'our_portfolio' | translate}}</h1>
                </div>
                </div>
        </section>
    
        <section class="portfolio" *ngFor="let item of data2">
            <div class="container">
                <div class="titlePicture">
                    <span>{{languageService.getCurrentLanguage() == 'ar' ? item?.tag_Ar : item?.tag_En }}</span>
                </div>
                <div class="detailsOfWorks">
                    <div class="row" style="text-align: center">
                        <div class="col" *ngIf="item?.image2">
                            <div class="worksInner">
                                <img src="{{item.image2}}">
                            </div>
                        </div>
                        <div class="col" *ngIf="item?.image3">
                            <div class="worksInner">
                                <img src="{{item.image3}}">
                            </div>
                        </div>
                        <div class="col" *ngIf="item?.image4">
                            <div class="worksInner">
                                <img src="{{item.image4}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </section>
    
    <app-footer></app-footer>