<section class="first-section" [ngStyle]="{'height': myInnerHeight}" style="background-color: #38aab6;">
    <div class="container">
      <app-navbar></app-navbar>
    </div>
</section>
<section class="portfolio-Parent" style="background-color: #fff">
    <section class="client" [ngStyle]="{'height': aboutHeight}">
            <div class="container">
                <div class="client-details">
                    <h1 class="client-header" style="font-family: cairo-black">{{'our_portfolio' | translate}}</h1>
                </div>
                </div>
        </section>
    
        <section class="portfolio">
            <div class="container">
                <div class="titlePicture">
                    <span>تنقية المياه</span>
                </div>
                <div class="detailsOfWorks">
                    <div class="row" style="text-align: center">
                        <div class="col">
                            <div class="worksInner">
                                <img src="../../../assets/images/ourWorks.jpg">
                            </div>
                        </div>
                        <div class="col">
                                <div class="worksInner">
                                    <img src="../../../assets/images/ourWorks.jpg">
                                </div>
                            </div>
                            <div class="col">
                                    <div class="worksInner">
                                        <img src="../../../assets/images/ourWorks.jpg">
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio">
                <div class="container">
                    <div class="titlePicture">
                        <span>تنقية المياه</span>
                    </div>
                    <div class="detailsOfWorks">
                        <div class="row" style="text-align: center">
                            <div class="col">
                                <div class="worksInner">
                                    <img src="../../../assets/images/ourWorks.jpg">
                                </div>
                            </div>
                            <div class="col">
                                    <div class="worksInner">
                                        <img src="../../../assets/images/ourWorks.jpg">
                                    </div>
                                </div>
                                <div class="col">
                                        <div class="worksInner">
                                            <img src="../../../assets/images/ourWorks.jpg">
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </section>
    </section>
    
    <app-footer></app-footer>