<section class="about-parent" style="background-color: #fff">
    <section class="about" [ngStyle]="{'height': aboutHeight}">
        <div class="container">
            <app-navbar></app-navbar>
            <div class="about-details"></div>
                <h1 style="font-family: cairo-black">{{'about_nav' | translate}}</h1>
            </div>
    </section>
    <section class="messages">
        <div class="container">
            <h3 [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">{{'our_message' | translate}}</h3>
            <p [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">
                {{languageService.getCurrentLanguage() == 'ar' ? data?.our_message_Ar : data?.our_message_En }}
            </p>
        </div>
    </section>
    <section class="aboutGECC">
        <div class="container">
            <h3 [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }" style="direction: rtl">{{'about_nav' | translate}} GECC</h3>
            <p [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">
                {{languageService.getCurrentLanguage() == 'ar' ? data?.abour_Ar : data?.about_En }}
            </p>
        </div>
    </section>
    
    <section class="goals" style="background-color: #fff">
        <div class="container">
            <h3 [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">{{'our_targets' | translate}}</h3>
            <p [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">{{'our_targets_subtitle' | translate}}</p>
            <ul *ngIf="languageService.getCurrentLanguage() == 'ar'" >
                <li class="ar ar-item" *ngFor="let x of targetsAr">{{x}}</li>
            </ul>
            <ul *ngIf="languageService.getCurrentLanguage() == 'en'" >
                <li class="en en-item" *ngFor="let x of targetsEn">{{x}}</li>
            </ul>
        </div>
    </section>
    <section class="mission" style="background-color: #7ac382">
        <div class="container">
          <h3 [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">{{'our_missions' | translate}}</h3>
          <p [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">
                {{languageService.getCurrentLanguage() == 'ar' ? data?.our_mission_Ar : data?.our_mission_En }}
          </p>
        </div>
    </section>
    <section class="view" style="background-color: #fff">
        <div class="container">
           <h3 [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">{{'our_vision' | translate}}</h3>
           <p [ngClass]="{'ar': languageService.getCurrentLanguage() == 'ar', 'en':languageService.getCurrentLanguage() == 'en' }">
                {{languageService.getCurrentLanguage() == 'ar' ? data?.out_vision_Ar : data?.out_vision_En }}
           </p>
        </div>
    </section>
    <app-footer></app-footer>
    </section>