<section class="about-parent" style="background-color: #fff">
    <section class="about" [ngStyle]="{'height': aboutHeight}">
        <div class="container">
            <app-navbar></app-navbar>
            <div class="about-details"></div>
                <h1 style="font-family: cairo-black">{{'about_nav' | translate}}</h1>
            </div>
    </section>
    <section class="messages">
        <div class="container">
            <h3>{{'our_message' | translate}}</h3>
            <p>
                            نحن نلتزم بالامتياز وإرضاء العميل وهي أساس فلسفتنا في العمل وفكرتنا وموضوعنا هو جودة العمل وتكامله وتقدير العامل
            الزمني ومستوى الكفاءة ودرجة الأمان.
    
            ونحن على إيمان كامل بتوفير جودة عالية لخدماتنا ، والتي تعزز وتقوي رابط الثقة بين الشركة وبين عم vvv لائها. وكما هي نظرتنا
            للسنوات القادمة فنحن نجدد العهد بالتجديد والالتزام بالامتياز المستمر والبقاء جنبا إلى جنب لعمل وتقديم الابتكارات والإبداعات
            وتبني أساليب فنية للإدارة والبناء والتغلب على التحديات والمشكلات التي تواجهنا بنجاح
             </p>
        </div>
    </section>
    <section class="aboutGECC">
        <div class="container">
            <h3 style="direction: rtl">{{'about_nav' | translate}} GECC</h3>
            <p>
                    تعتبر شركة التحكم البيئي العالمية المحدودة شركة محلية رائدة كائنة في المملكة العربية السعودية منذ 1426 ه ( 2006 م) 
                    متخصصة في توريد وتركيب واختبار وتشغيل وصيانة جميع ما يتعلق بتكنولوجيا البيئة
                    ولدى شركة التحكم البيئي العالمية المحدودة السعة الكاملة لايجاد أفضل الحلول المعالجة والقيام بأمور التخفيف والتلطيف لكل
                     ما يخص المشكلات البيئية
                    <br>
                    ولدى شركة التحكم البيئي العالمية المحدودة فريق خبراء محلي عالي الكفاءة مقترن بالتعاون مع عدد من الخبراء
                    الدوليين له دراية واسعة بالخدمات والتقنية البيئية الحديثة
                    تم تشكيل شركة التحكم البيئي العالمية المحدودة لمواجهة الطلب المتزايد للسوق المحلية وعرض مجال واسع المدى من الحلول
                     التقنية المتطورة في نطاق الخدمات البيئية
            </p>
        </div>
    </section>
    
    <section class="goals" style="background-color: #fff">
        <div class="container">
            <h3>{{'our_targets' | translate}}</h3>
            <p>نحن نلتزم بتقديم خدمات ترويجية واقتصادية وموثوقة بأسلوب مهني فعال من خلال :</p>
            <ul *ngFor="let x of items">
                <li>{{x}}</li>
            </ul>
        </div>
    </section>
    <section class="mission" style="background-color: #7ac382">
        <div class="container">
          <h3>{{'our_missions' | translate}}</h3>
          <p>
                نحن على اعتقاد كامل بأننا سوف نحقق رؤيتنا من خلال تقديم أفضل الحلول في الاستشارات البيئية لمختلف المنظمات والكيانات
                والتعاون الجيد والمهنية العالية والخدمات الحصرية للعميل . ونحن نعمل على بناء ثقافةفعالة
                تجذب أفضل العملاء واتاحة الفرصة لهم للعمل والتعاون معنا على مواجهة أصعب المشكلات
          </p>
        </div>
    </section>
    <section class="view" style="background-color: #fff">
        <div class="container">
           <h3>{{'our_vision' | translate}}</h3>
           <p>
                مواجهة توقعات أصحاب المصلحة أو المساهمين من خلال تقديم خدمات ذات درجة عالية من الجودة
           </p>
        </div>
    </section>
    <app-footer></app-footer>
    </section>