//All fonts
@font-face {
    font-family: cairo-black;
    src: url("../assets/fonts/Cairo-Black.ttf");
}
@font-face {
    font-family: cairo-bold;
    src: url("../assets/fonts/Cairo-Bold.ttf");
}
@font-face {
    font-family: cairo-semibold;
    src: url("../assets/fonts/Cairo-SemiBold.ttf");
}
@font-face {
    font-family: cairo-regular;
    src: url("../assets/fonts/Cairo-Regular.ttf");
}
@font-face {
    font-family: cairo-extralight;
    src: url("../assets/fonts/Cairo-ExtraLight.ttf");
}
@font-face {
    font-family: cairo-light;
    src: url("../assets/fonts/Cairo-Light.ttf");
}


@font-face {
    font-family: optima;
    src: url("../assets/fonts/OPTIMA.ttf");
}
@font-face {
    font-family: optima-italic;
    src: url("../assets/fonts/Optima_Italic.ttf");
}
@font-face {
    font-family: optima-bold;
    src: url("../assets/fonts/OPTIMA_B.ttf");
}
@font-face {
    font-family: optima-medium;
    src: url("../assets/fonts/OPTIMA Medium.ttf");
}