<section class="client" [ngStyle]="{'height': aboutHeight}">
    <div class="container">
        <app-navbar></app-navbar>
        <div class="client-details">
            <h1 class="client-header" style="font-family: cairo-black">{{'our_clients' | translate}}</h1>
        </div>
        </div>
</section>

<section class="listOfClients">
    <div class="container">
        <div class="row">
            <div class="col col-lg-3 col-sm-6" *ngFor="let logo of logos2;">
                <div class="clientLogo">
                    <img src="{{logo.image}}">
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>