.client{
    background: url(../../../assets/images/about.jpg) no-repeat no-repeat center;
    background-size: cover;
    padding: 1em 0;
    .client-details{
        padding: 3em;

.client-header{
    direction: rtl;
    text-align: right;
    color: #fff;
}

}
}
.listOfClients{
    background-color: #fff;
    padding: 2em;
    .clientLogo{
        text-align: center;
        margin: 2em 0;
    }
}

@media (max-width: 576px) { 
    .client-header{
        font-size: 30px
    }
}