<app-upper-component></app-upper-component>
<section class="services-content" style="background-color: #fff">
    <div class="container">

    <div class="every-service" *ngFor="let service of services;let i = index;">
       <div class="row" *ngIf="i%2 == 0">
           <div class="col col-12 col-md-3">
               <div class="service-picture">
                   <img src="{{images[i]}}" style="width: 100%">
               </div>
            </div>
            <div class="col col-md-9">
                   <div class="service-detail">
                      <h3>{{languageService.getCurrentLanguage() == 'ar' ? service?.title_Ar : service?.title_En }}</h3>
                      <p>
                        {{languageService.getCurrentLanguage() == 'ar' ? service?.details_Ar : service?.details_En }}
                      </p>
               </div>
           </div>
       </div>
       <div class="row" *ngIf="i%2 != 0">
            <div class="col col-md-9">
                    <div class="service-detail">
                        <h3>{{languageService.getCurrentLanguage() == 'ar' ? service?.title_Ar : service?.title_En }}</h3>
                        <p>
                            {{languageService.getCurrentLanguage() == 'ar' ? service?.details_Ar : service?.details_En }}
                        </p>
                </div>
            </div>
           <div class="col col-12 col-md-3">
               <div class="service-picture">
                   <img src="{{images[i]}}" style="width: 100%">
               </div>
            </div>
        </div>
    </div>

    </div>
</section>
<app-footer></app-footer>