.services-content{
    padding: 2em;
    text-align: right;
    .every-service{
        .service-picture{
         padding: 5em 0;
        }
        margin: 4em 0;
        h3{
         font-family: cairo-black;
         padding: 1em 0;
     }
     p{
         font-family: cairo-regular;
         line-height: 1.8;
     }
    }
 }