<!-- first section -->
<section class="first-section" [ngStyle]="{'height': el? el.getBoundingClientRect().height + el2.getBoundingClientRect().height + 'px' : myInnerHeight}">
    <div class="container">
      <app-navbar></app-navbar>
    </div>
  <ngbd-carousel-basic>
  </ngbd-carousel-basic>
</section>

<!-- end first section -->

<!-- second section -->
<section class="second-section">
 <div class="container">
   <div class="row">

     <div *ngFor="let feature of features" class="col col-lg-3 col-md-6">
       <div class="inner-div">
          <fa-icon [icon]="faCoffee"></fa-icon>
          <p>{{feature.title}}</p>
          <span>{{feature.subtitle}}</span>
       </div>
     </div>

   </div>

     <div class="our-services">
        <h3>{{'our_services' | translate}}</h3>
          <div class="row specifRow">
              <div class="col col-lg-2" [ngStyle]="{'display': innerWidth >= 800 ? 'block' : 'none'}">
                <div>
                    <fa-icon [icon]="arrow" class="col col-md-2" [routerLink]="'/services'" style="cursor: pointer;"></fa-icon>
                </div>
              </div>
             <div class="col col-md-3" *ngFor="let service of services">
                 <!-- effect -->

                <figure class="box" [routerLink]="'/services'">
                    <img src="{{service.image}}" alt="service image" />
                    <figcaption>
                      <h5>{{languageService.getCurrentLanguage() == 'ar' ? service?.title_Ar : service?.title_En }}</h5>
                    </figcaption>
                    <a></a>
                  </figure>
             </div>

          </div>
     </div>
 </div>

<section class="clients">
    <div class="svg">
        <h3>{{'iso' | translate}}
        </h3>
        <h2>ISO</h2>
        <h2 class="greenHeader">17025 , 9001</h2>
      </div>
      <div class="container">
        <div class="inner-clients">
            <h3>{{'big_clients' | translate}}</h3>
            <div class="row row-center">
              <div class="col col-lg-3 col-sm-6">
                <img src="../../../assets/images/logo4.png">
              </div>
              <div class="col col-lg-3 col-sm-6">
                  <img src="../../../assets/images/logo3.png">
                </div>
                <div class="col col-lg-3 col-sm-6">
                    <img src="../../../assets/images/logo2.png">
                  </div>
                  <div class="col col-lg-3 col-sm-6">
                      <img src="../../../assets/images/logo1.png">
                    </div>

            </div>
            <button type="button" class="btn btn-light" [routerLink]="'/client'">{{'more' | translate}}</button>
        </div>    
      </div>
      </section>
</section>
<!-- end second section -->

<!-- third section -->
<section class="works">
 <div class="container-fluid">
  <div class="row">
    
      <div class="col col-lg-5 col-12" [ngStyle]="{'display': innerWidth >= 800 ? 'none' : 'block'}">
          <div class="works-title">
            <div class="container">
             <h3> {{'portfolio' | translate}}  </h3>
             <div class="spanAndP">
             <span>{{'portfolio_subtitle1' | translate}}</span>
             <p>{{'portfolio_subtitle2' | translate}}</p>
             <button type="button" class="btn btn-dark" routerLinkActive="on" [routerLink]="'/portfolio'">{{'more' | translate}}</button>
            </div>
          </div>
        </div>
      </div>

    <div class="col col-lg-7 col-12 colredCol" style="border-radius: 25px;">

      <div class="container">
       <div class="row">
         <div class="col col-md-4" *ngFor="let item of portofolio" style="cursor: pointer;" [routerLink]="'/portfolio'">
           <div class="inner-works">
             <div class="img-works">
               <img src="{{item.image}}">
             </div>
             <div class="details-works">
             <span>{{languageService.getCurrentLanguage() == 'ar' ? item?.tag_Ar : item?.tag_En }}</span>
             <p>{{languageService.getCurrentLanguage() == 'ar' ? item?.title_Ar : item?.title_En }}</p>
            </div>
           </div>
         </div>
       </div>
      </div>
    </div>

    <div class="col col-lg-5 col-12" [ngStyle]="{'display': innerWidth >= 800 ? 'block' : 'none'}">
      <div class="works-title">
        <div class="container">
         <h3> {{'portfolio' | translate}}  </h3>
         <div class="spanAndP">
         <span>{{'portfolio_subtitle1' | translate}}</span>
         <p>{{'portfolio_subtitle2' | translate}}</p>
         <button type="button" class="btn btn-dark" routerLinkActive="on" [routerLink]="'/portfolio'">{{'more' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</section>
<!-- end third section -->


<!-- contact section -->
<section class="contact" id="contact">
 <div class="container">
   <h3>{{'contact' | translate}}</h3>
   <div class="footer-inner">
     <p>{{'contact_subtitle' | translate}}</p>
     <div class="row">
        <div class="col col-md-2 col-6 padded">
         <div class="footerContctInner">
           <a href="{{company?.facebook}}">
              <img src="../../../assets/images/facebook.png">
           </a>
           <a href="{{company?.twitter}}">
              <img src="../../../assets/images/twitter.png">
           </a>
           <a href="{{company?.instagram}}">
              <img src="../../../assets/images/insta.png">
           </a>
         </div>
       </div>
       <div class="col col-md-3 col-6 contactDetails padded">
         <span>
            {{languageService.getCurrentLanguage() == 'ar' ? company?.address_Ar : company?.address_En }}
          </span>
         <img src="../../../assets/images/location.png">
       </div>
       <div class="col col-md-3 col-6 contactDetails padded lefted">
        <span>{{company?.tel}}</span>
        <img src="../../../assets/images/phone.png">
      </div>
      <div class="col col-md-3 col-6 contactDetails padded">
        <span>{{company?.email}}</span>
        <img src="../../../assets/images/email.png">
      </div>
     </div>
     <div class="form">
       <div class="container">
      <form>
        <div class="row">
            <div class="col col-md-4 col-12 offset-2 input1">
              <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{'email' | translate}}" [(ngModel)]="senderEmail" [ngModelOptions]="{standalone: true}" required>
                  <img src="../../../assets/images/email2.png">
                </div>
          </div>
          <div class="col col-md-4 col-12">
              <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="{{'personal_name' | translate}}" [(ngModel)]="senderName" [ngModelOptions]="{standalone: true}" required>
                  <img src="../../../assets/images/name.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-2 col-md-8">
              <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  placeholder="{{'message' | translate}}" [(ngModel)]="senderMessage" [ngModelOptions]="{standalone: true}" required></textarea>
                  <img src="../../../assets/images/textarea.png">
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col offset-md-2">
              <button type="submit" class="btn btn-secondary" (click)="sendMessage(senderName,senderEmail,senderMessage)">{{'send' | translate}}</button>
          </div>
        </div>

      </form>
     </div>
   </div>
  </div>
 </div>
</section>
<app-footer></app-footer>


<!-- end contact section -->