/* You can add global styles to this file, and also import other style files */
$white : #fff;
$babyBlue : #71c2cb;
$blue:#4d78c0;
$darkerblue: #4b76bc;
$green: #57a05f;
$darkGrey: #90a3b2;
$footer : #29313c;
$footerFont: #a5a7aa;

.main-content{
    background-color: #eeeeee;
}

.main-panel .main-content{
    margin-top: 0px !important;
}