<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                            <h4 class="card-title" style="text-align: center;">الرئيسيه</h4>
                        </div>
                        <div class="card-body">
                            <img style="width: 250px;
                            text-align: center;
                            display: block;
                            margin: auto;
                            margin-top: 20px;
                            border-radius: 5px;" src="../../../assets/images/Home.png" />
                        </div>
                        <div class="card-footer" style="text-align: center;display: block;">
                            <div class="stats">
                                <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_home' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">الخدمات</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h4 class="card-title">الرئيسيه</h4> -->
                                <img style="width: 250px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                margin-top: 20px;
                                border-radius: 5px;" src="../../../assets/images/Home.png" />
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                    <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_services' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">عن شركة</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h4 class="card-title">الرئيسيه</h4> -->
                                <img style="width: 250px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                margin-top: 20px;
                                border-radius: 5px;" src="../../../assets/images/Home.png" />
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                    <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_about' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">الأعمال</h4>
                            </div>
                            <div class="card-body">
                                <!-- <h4 class="card-title">الرئيسيه</h4> -->
                                <img style="width: 250px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                margin-top: 20px;
                                border-radius: 5px;" src="../../../assets/images/Home.png" />
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                    <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_portfolio' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">العملاء</h4>
                            </div>
                            <div class="card-body">
                                <img style="width: 250px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                margin-top: 20px;
                                border-radius: 5px;" src="../../../assets/images/Home.png" />
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                    <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_clients' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4" *ngIf="hasPage">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">{{title_Ar}}</h4>
                            </div>
                            <div class="card-body">
                                <img style="width: 250px;
                                text-align: center;
                                display: block;
                                margin: auto;
                                margin-top: 20px;
                                border-radius: 5px;" src="../../../assets/images/Home.png" />
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                    <h4 class="card-title" style="color: #f94444;font-family: cairo-bold;cursor: pointer;" (click)="remove()">حذف</h4>
                                    <span style="color: #000;
                                    font-family: cairo-bold;
                                    font-size: 2em;
                                    padding-right: 1em;
                                    padding-left: 1em;">|</span>
                                    <a routerLinkActive="on"  [routerLink]="[ '/cpanel/edit_pagee' ]">  <h4 class="card-title" style="color: #000;font-family: cairo-bold;" >تعديل</h4> </a> 
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-4" *ngIf="!hasPage">
                        <div class="card card-chart">
                            <div class="card-header card-header-warning" style="box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(72, 116, 167, 0.28);background: linear-gradient(60deg, #4873a7, #589a68);">
                                <div class="ct-chart" id="websiteViewsChart"></div>
                                <h4 class="card-title" style="text-align: center;">صفحه جديدة</h4>
                            </div>
                            <div class="card-body" style="margin-top: 1.5em;">
                                    <div style="width: 250px;height: 270px;border: 2px dashed #a9afbb;border-radius: 5px;margin: auto;">
                                        <span style="margin-top: 25%;display: block;text-align: center;color: #a9afbb;font-family: cairo-bold;font-size: 6em;">+</span>
                                    </div>
                            </div>
                            <div class="card-footer" style="text-align: center;display: block;">
                                <div class="stats">
                                        <a routerLinkActive="on"  [routerLink]="[ '/cpanel/add_pagee' ]">   <h4 class="card-title" style="color: #000;font-family: cairo-bold;">إضافه</h4> </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </div>
      <app-dasboard-footer></app-dasboard-footer>
      